# Laravel
backend/.env
backend/vendor/
backend/storage/app/media/
backend/storage/logs/
backend/bootstrap/cache/

# Node
frontend/node_modules/
frontend/dist/

# Docker
.DS_Storenul
FLUTTER_APP_SPEC.md
*.iml
